/*------Styles généraux et head-------- */

html {
  scroll-behavior: smooth;
}

body {
  box-sizing: border-box;
  font-family: 'Karla', sans-serif;
  background-color: #eaf2ff;
}

a {
  color: blue;
}

header {
  justify-content: space-evenly;
  text-align: center;
  top: 0px;
  background-color: #f8f9f5;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  z-index: 1;
}

.hero {
  height: 100vh;

}

h2{
  font-family: ‘Lora’, serif;
  font-style: italic;
}

.arrow{
  width: 100px;
  height: 100px;
}

/*---------Home(index)--------- */

#home {
  width: 40%;
}

#hero-home {
  background-image: url("../img/hero-home.webp");
  background-size: cover;
  background-repeat: no-repeat;
  color:white;
}


#hero-home h4{
  width: 60%;
}

.produits {
  justify-content: space-evenly;
  width: 80%;
}

.produits a {
  color: white;
}

h5 {
  font-family: ‘Lora’, serif;
  font-style: italic;
}



#choisir-paradise {
  background-image: url("../img/section-home.webp");
  background-size: cover;
  height: 100vh;
  padding: 5%;

}

#choisir-paradise p {
  width: 50%;
}

#choisir-paradise-content {
  width: 80%;
}

/*-----------Page Produits---------*/

.liste-produit a {
  color: white;
}

.produit-page-produit {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  background-color: white;

}

.image-produit {
  width: 100%;
  height: 55%;
}

/*----------Fiche_produit 1/2/3*/


.hero-produit h2{
  font-size: 80px;
  color: white;
  text-shadow: 2px 2px 0px black;
}


#hero-produit1 {
  background-image: url("../img_produit/isla-panama-big.webp");
  height: 100vh;
  background-size: cover;
}

.images-produit {
  width: 100%;
}

blockquote {
  width: 100%;
  font-size: 30px;
}

.content-produit {
  width: 80%;
}

.description {
  width: 50%;
}

.add-panier {
  width: 30%;
  
}

.add-panier input {
  width: 100%;
}

.btn-panier {
   background-color: #FF2B60;
   font-weight: bold;
   color: white;
}

/*-----Login/Inscription----*/


.connexion-inscription {
  width: 60%;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  height: auto;
}

#hero-inscription {
  height: 100%; 
}


/*---------Profil Membre----------*/



/*---------Profil Administrateur----------*/

.gestion-ajout a {
  color: blue;
}



.gestion-article {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  width: 100%;
  background-color: white;
}

.ajout-article {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  width: 100%;
  background-color: white;
}

.formulaire-ajout-article input {
  width: 100%;
}

.deconnexion {
  width: 68%;
}

td {
  border: solid 1px;
}

/*------Panier------*/
.content {
  height: 65vh;
}

.article{
  justify-content: space-evenly;
  width: 70%;
}

.image-panier {
  width: 100px;
  height: 100px;
}

.detail {
  width: 60%;
}

.divider {
  width: 80%;
  border-color: lightblue;
}

.total{
  justify-content: space-evenly;
}


/*----Footer----*/
footer {
  background:  #EDDBC1;
  height: 28vh;
}

footer a {
  color: #262625;
}

/*-------------------------------Desktop--------------------------*/


@media (min-width: 877px) {

/*-----Profil membre------------*/

.member-profil {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2%;
}

.coordonnees {
  display: flex;
  justify-content: space-evenly;
}


.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  padding: 2%;
  margin: 5%;
  width: 70%;
}

h3 {
  text-align: center;
}



/*-----Profil administrateur-----*/


.admin-profil {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 2%;
  
}

.gestion-article {
  width: 45%;
  padding: 2%;
}

.ajout-article {
  width: 45%;
}

/*-----------Page Produits---------*/

.produit-page-produit {
  padding: 2%;
  margin: 2%;

}


.image-produit {
  width: 450px;
  height: 300px;
}
  
}


/*---------------Mobile---------------------------------*/

@media(max-width: 414px) {

  /*------Home-------------------*/
  
#home {
    text-align: center;
    margin: auto;
}
#choisir-paradise p {
  width: 80%;
}
/*------Connexion/inscription-------------------*/
.connexion-inscription {
    width: 90%;
}
#hero-login {
  height: 80vh;
}
#hero-inscription {
  margin-bottom: 60%;
}

}
