/*------Styles généraux et head-------- */

html {
  scroll-behavior: smooth;
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

}


a {
  color: #44444C;
}

header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  text-align: center;
  position: sticky;
  top: 0px;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  z-index: 1;
}

nav {
  align-items: center;
}

.hero {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  height: 100vh;

}

h2{
  text-align: center;
}



/*---------Home(index)--------- */


#home {
  width: 40%;
  text-align: left;
}


#hero-home {
  background-image: url("../img/hero-home.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  color:white;
}

#hero-home h2{
  margin: 10% 0;
}

#hero-home h4{
  width: 60%;
  margin: 2% auto;
}

.produits {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 80%;
  margin: 10% auto;
}

.produits a {
  color: white;
}



.perimeter-price {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.arrow{
  width: 5%;
  height: 5%;
  margin: 0 auto;
}

#choisir-paradise {
  display: flex;
  flex-direction: column;
  background-image: url("../img/section-home.jpg");
  background-size: cover;
  height: 100vh;
  padding: 5%;

}

#choisir-paradise p {
  width: 50%;
}

#choisir-paradise-content {
  width: 80%;
  margin: auto;
}

/*----------Fiche_produit 1/2/3*/

.hero-produit {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero-produit h2{
  font-size: 80px;
  color: white;
  text-shadow: 2px 2px 0px black;
}

#hero-produit1 {
  background-image: url(../img_produit/isla-panama-big.jpg);
  background-size: cover;
  height: 100vh;
}

#hero-produit2 {
  background-image: url(../img_produit/sand-point-road-beach-big.jpg);
  background-size: cover;
  height: 100vh;
}

#hero-produit3 {
  background-image: url(../img_produit/dream-thai-bungalow-big.jpg);
  background-size: cover;
  height: 100vh;
}

.images-produit {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  margin: 5% auto;


}

blockquote {
  width: 100%;
  margin: 5% auto;
  font-size: 30px;
}

.content-produit {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 80%;
  margin: auto;
}

.bottom-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 5% 0;
}

.description {
  width: 50%;
}

.add-panier {
  width: 30%;
  
}

.add-panier input {
  width: 100%;
}

.price {
  margin: 4% 0;
}

.btn-panier {
   background-color: #FF2B60;
   font-weight: bold;
   color: white;
   border: none;
}

/*-----Login/Inscription----*/


.connexion-inscription {
  width: 50%;
  margin: auto;
  padding: 3%;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

#hero-login,
#hero-inscription {
  background-image: url("../img/hero-inscription.jpg");
  background-size: cover;
  height: 150vh;
}

/*---------Profil Membre----------*/
.member-profil {
  padding: 5%;
}

h3 {
  margin: auto;
}

.coordonnees{
  padding-left: 5%;
}

/*---------Profil Administrateur----------*/

.gestion-ajout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2%;
}

.admin-profil {
  display: flex;
  flex-direction: column;
  margin: 2%;
  
}

.gestion-article {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  width: 100%;
  padding: 5%;
}

.ajout-article {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  width: 100%;
}

.formulaire-ajout-article {
  margin: auto;
  padding: 5%;
}

.formulaire-ajout-article input {
  width: 100%;
}

#deconnexion {
  display: flex;
  width: 68%;
  padding: 5% 0;
  margin: auto;
}

td {
  border: solid 1px;
  padding: 10px;
}

/*------Panier------*/

.panier{
  display: flex;
  flex-direction: column;
}

.article{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 70%;
  margin: auto;
}

.image-panier {
  width: 100px;
  height: 100px;
  margin-right: 2%;
}

.detail {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  width: 60%;
}


.total{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}


/*----Footer----*/
footer {
  padding: 3%;
  display: flex;
  justify-content:space-around;
  background:  #F4ECC4;
}

footer a {
  color: grey;
}

/*-------------------------------Desktop--------------------------*/


@media (min-width: 877px) {
/*-----Profil membre------------*/

.member-profil {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2%;
}

.coordonnees {
  display: flex;
  justify-content: space-evenly;
}


.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  padding: 2%;
  margin: 5%;
  width: 70%;
}

h3 {
  text-align: center;
}



/*-----Profil administrateur-----*/


.admin-profil {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 2%;
  
}

.gestion-article {
  width: 45%;
  padding: 2%;
}

.ajout-article {
  width: 45%;
}


  
}