/*------Styles généraux et head-------- */

html {
  scroll-behavior: smooth;
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

}


a {
  color: blue;
  outline: none;
}

header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  text-align: center;
  position: sticky;
  top: 0px;
  background-color: white;
  box-shadow: 0px 1px 10px black;
  z-index: 1;
}

nav {
  align-items: center;
}

.hero {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  height: 100vh;

}

h2{
  text-align: center;
}


/*---------Home(index)--------- */


#home {
  width: 40%;
  text-align: left;
}


#hero-home {
  background-image: url("../img/hero-home.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  color:white;
}

#hero-home h2 {
  margin: 10%;
}

#hero-home h4 {
  margin: 3% auto;
  width: 40%;
}

.produits {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 80%;
  margin: 10% auto;
}

.produits a {
  color: white;
}



.perimeter-price {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#arrow{
  width: 5%;
  height: 5%;
  margin: 0 auto;

}

#choisir-paradise {
  display: flex;
  flex-direction: column;
  background-image: url("../img/section-home.jpg");
  background-size: cover;
  height: 100vh;
  padding: 5%;
  color: black;

}

#choisir-paradise p {
  width: 50%;
}

#choisir-paradise-content {
  width: 85%;
  margin: auto;
}

/*----------Fiche_produit 1/2/3*/

#hero-produit1 {
  background-image: url(../img_produit/isla-panama-big.jpg);
  background-size: cover;
  height: 100vh;
}

#hero-produit2 {
  background-image: url(../img_produit/sand-point-road-beach-big.jpg);
  background-size: cover;
  height: 100vh;
}

#hero-produit3 {
  background-image: url(../img_produit/dream-thai-bungalow-big.jpg);
  background-size: cover;
  height: 100vh;
}

.images-produit {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  flex-wrap: wrap;
  width: 80%;
  margin: 5% auto;


}

blockquote {
  width: 80%;
  margin: 5% auto;
  font-size: 30px;

}

/*-----Login----*/


.connexion-inscription {
  width: 40%;
  margin: auto;
  padding: 3%;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

#hero-login,
#hero-inscription {
  background-image: url("../img/hero-inscription.jpg");
  background-size: cover;
  height: 150vh;
}

/*-----Profil membre------------*/

.member-profil {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2%;
}

.coordonnees {
  display: flex;
  justify-content: space-evenly;
}


.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  padding: 2%;
  margin: 5%;
  width: 70%;
}

h3 {
  text-align: center;
}








/*-----Profil administrateur-----*/
.admin-profil {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 5%;
  
}

.gestion-article {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  width: 45%;
  padding: 2%;
}

.ajout-article {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  width: 45%;
}

.formulaire-ajout-article {
  margin: auto;
  padding: 5%;
}

.formulaire-ajout-article input {
  width: 100%;
}

#deconnexion {
  display: flex;
  width: 68%;
  padding: 5% 0;
  margin: auto;


}

td {
  border: solid 1px;
  padding: 10px;
}
/*----Footer----*/
footer {
  padding: 3%;
  display: flex;
  justify-content:space-around;
  background:  blanchedalmond;
}

footer a {
  color: blue;
}