/*------Styles généraux et head-------- */

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

}


a {
  color: #44444C;
}

header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  text-align: center;
  position: sticky;
  top: 0px;
  background-color: white;
  box-shadow: 0px 1px 10px #999;
  z-index: 1;
}

nav {
  align-items: center;
}

.hero {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  height: 100vh;

}

h2{
  text-align: center;
}


/*---------Home(index)--------- */


#home {
  width: 40%;
  text-align: left;
}


#hero-home {
  background-image: url("../img/hero-accueil.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  color:white;
}

.produits {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 80%;
  margin: 10% auto;
}

.produits a {
  color: white;
}

#arrow{
  width: 5%;
  height: 5%;
  margin: 0 auto;
  
}

#choisir-paradise {
  background-image: url("../img/section-accueil.jpg");
  background-size: cover;
  height: 100vh;
  padding: 5%;
}

#choisir-paradise p {
  width: 50%;
}

#choisir-paradise-content {
  width: 80%;
  margin: auto;
}


/*-----Login----*/
.login {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.coordonnees {
  display: flex;
  justify-content: space-evenly;
  width: 80%;
  margin: 0 10% auto;
}

.connexion-inscription {
  width: 40%;
  margin: auto;
  padding: 3%;
  background-color: white;
}

#hero-login,
#hero-inscription {
  background-image: url("../img/hero-inscription.jpg");
  background-size: cover;
  height: 150vh;
}

/*-----profil administrateur-----*/
.admin-profil {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.formulaire-ajout-article {
  margin: auto;
  padding: 5%;
}


td {
  border: solid 1px;
  padding: 10px;
}
/*----Footer----*/
footer {
  padding: 3%;
  display: flex;
  justify-content:space-around;
  background: linear-gradient(180deg, rgba(192,248,253,1) 25%, rgba(248,239,215,1) 75%);

}

